body,html{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    font-size: 1.243rem;
}
.h1-tag{
    text-align: center;
    font-size: 1.5rem;
    background-color:cadetblue;
    margin: 0;
    padding: 12px;

}
h1{
    margin: 0;
}
.others{
    padding-left: 12px;
}
h2{
    color:cadetblue;
}


